@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin:0;
    padding:0;
}

h1{
    font-size:4em;
    font-family: Roboto;
}

h2{
    font-size:3em;
    font-family: Roboto;
}

h3{
    font-size:2.5em;
    font-family: Roboto;
}

h4{
    font-size:1.7em;
    font-family: Roboto;
}

button{
    font-size:1.1em;
    font-family: Roboto;
}