.customizationMainContainer{
    width:100vw;
    height:100vh;
    display:flex;
    align-items:flex-start;
    justify-content:flex-end;
    flex-direction:column;
    position:relative;
    background-image:url("https://images.unsplash.com/photo-1495435229349-e86db7bfa013?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1529&q=80");
    background-color:rgba(0, 0, 0, 0.8);
    background-blend-mode:darken;
    background-position:bottom;
    background-size:cover;
    min-height:500px;
    min-width: 240px;

    @media screen and (max-width:980px){
        display:grid;
        grid-template-rows:20% 25% 45% 10%;
        grid-template-columns:100%;
        min-height:600px;
    }

    @media screen and (max-width:600px){
        display:grid;
        grid-template-rows:10% 45% 30% 10%;
        grid-template-columns:100%;
    }
}